.alphabetical-sorting{
    border: 1px solid greenyellow;
    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#materials{
    border: 1px solid green;
    font-size: 17px;
}

#sort-btn{
    background-color: orangered;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
}
#sort-btn:hover{
    background: rgb(236, 128, 88);
}

.compare-function{
    border: 1px solid rebeccapurple;
    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#scores{
    border: 1px solid black;
}